# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyc

# =========================
# Virtual Environment
# =========================
playenv/
venv/
env/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Playwright
# =========================
test-results/
playwright-report/

# =========================
# Allure
# =========================
allure-results/
allure-report/
tests/allure-dir/

# =========================
# Reports
# =========================
reports/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Files
# =========================
.env